/* CSS declarations go here */
html {
  font-size: 16;
}
#worldMap {
  display: block;
  position: absolute;
  width: 600px;
  height: 300px;
}
#chatApp {
  display: block;
  position: absolute;
  top: 290px;
  left: 0px;
  width: 600px;
  height: 250px;
}
#chatTop {
  font-size: 0.90em;
}
div.room{
  width: 600px;
  height: 250px;
}
#checkIns {
  display:block;
  margin-top: -10px;
  overflow-x: auto;
  height: 30px;
  max-width: 600 px;
}
div.vscroll {
  display: block;
  overflow-y: auto;
  max-width: 600px;
  max-height: 220px;
}
#signinWarning {
  color: red;
}
#compose {
  width: 540px;
  height: 60px;
}
button.send {
  float: right;
  font-size: 0.7em;
  width: 52px;
  height: 65px;
}
button.inactive {
  display: none;
}