/* CSS declarations go here */
html {
  font-size: 16;
}
#worldMap {
  display: block;
  width: 600px;
  height: 300px;
}
#chatApp {
  display: block;
  width: 600px;
  height: 370px;
}
#chatTop {
  font-size: 0.90em;
}
#chatBody {
  margin-top: 0px;
  height: 80%;
}
.tabs {
  font-size: 0.7em;
}
p.chatmessage {
  margin: 2px 0 2px 0 ;
}
span.chatsender {
  font-size: 0.85em;
}
span.chathms { 
  font-size: 0.5em;
}
div.vscroll {
  overflow-y: auto;
  max-width: 100% ;
}
#mainRoomControls {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 90%;
}
#mainRoomMessages {
  display: block;
  position: absolute;
  top: 40px;
  bottom: 80px;  
}
#compose {
  width: 100%;
  height: 60px;
}
#ignore {
  width: 495px;
  height: 200px;
}
.red {
  color: red;
}
.small {
  font-size: 0.7em;
}